In [28]:
#----------------------------
# import libraries
#----------------------------
import numpy as np
import pandas as pd
#import scipy.io as sio
from matplotlib import pyplot as plt
#----------------------------
# scikit-learn
#----------------------------
# preprocessing
#from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import OneHotEncoder
# neural network
#from sklearn.neural_network import MLPClassifier
# metrics
#from sklearn.metrics import confusion_matrix
#from sklearn.metrics import f1_score
#from sklearn.metrics import accuracy_score
#from sklearn.metrics import zero_one_loss
#from sklearn.metrics import log_loss
#from sklearn.metrics import roc_curve
#from sklearn.metrics import roc_auc_score

In [29]:
#use numpy fixed point notation
np.set_printoptions(suppress=True)
#----------------------------
# disable convergence warning
#from sklearn.utils.testing import ignore_warnings
#from sklearn.exceptions import ConvergenceWarning
#----------------------------
# path to save figures
path = '../figures/k-means/'

# Reading the dataset (.mat file)

In [30]:
from os.path import abspath, join
# get the root dir ('current_dir/..')
root_dir = abspath('..')
dataset_dir = join(root_dir, 'dataset')

In [31]:
import zipfile
# set dataset files path
file_path = join(dataset_dir, 'microdados_enem2018.zip')
# read zip files
zf = zipfile.ZipFile(file_path)
df = pd.read_csv(zf.open('DADOS/MICRODADOS_ENEM_2018.csv'), sep=';', encoding='cp1252')

In [47]:
df.iloc[:10,0:10]

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA
0,180008202043,2018,5300108,Brasília,53,DF,44.0,M,1.0,1
1,180007197856,2018,2111102,São João dos Patos,21,MA,23.0,F,0.0,3
2,180008517434,2018,3530607,Mogi das Cruzes,35,SP,23.0,F,0.0,1
3,180007661228,2018,2916401,Itapetinga,29,BA,26.0,F,0.0,3
4,180008787987,2018,2918100,Jeremoabo,29,BA,20.0,M,0.0,0
5,180007239581,2018,2507507,João Pessoa,25,PB,23.0,F,0.0,1
6,180007198225,2018,3171709,Virgínia,31,MG,35.0,F,0.0,1
7,180008090447,2018,2207702,Parnaíba,22,PI,39.0,M,1.0,3
8,180008257068,2018,2304400,Fortaleza,23,CE,19.0,M,0.0,3
9,180008202044,2018,5103403,Cuiabá,51,MT,25.0,F,0.0,3

In [33]:
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans

In [34]:
kmeans = KMeans(
    n_clusters = 8, 
    init = 'k-means++', 
    n_init = 10, 
    max_iter = 300, 
    tol = 0.0001, 
    precompute_distances = 'auto', 
    verbose = 0, 
    random_state = None, 
    copy_x = True, 
    n_jobs = None, 
    algorithm = 'auto',
)